<div class="sobrebackground">



    <div class="contact_info ">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div
                        class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">


                        <div
                            class="contact_info_item d-flex flex-row align-items-center justify-content-start sobrebackgroundcontent">
                            <div class="contact_info_image"><img
                                    src="https://img.icons8.com/office/24/000000/iphone.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Phone</div>
                                <div class="contact_info_text">+55 61 981261362</div>
                            </div>
                        </div>

                        <div
                            class="contact_info_item d-flex flex-row align-items-center justify-content-start sobrebackgroundcontent">
                            <div class="contact_info_image"><img
                                    src="https://img.icons8.com/ultraviolet/24/000000/filled-message.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Email</div>
                                <div class="contact_info_text">paivagabrielpaiva@gmail.com</div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="contact_info ">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div
                        class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between sobrebackgroundcontent">

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img
                                    src="https://img.icons8.com/office/24/000000/iphone.png" alt="">
                            </div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Phone</div>
                                <div class="contact_info_text">+55 61 996524291</div>
                            </div>
                        </div>



                        <div
                            class="contact_info_item d-flex flex-row align-items-center justify-content-start sobrebackgroundcontent">
                            <div class="contact_info_image"><img
                                    src="https://img.icons8.com/ultraviolet/24/000000/filled-message.png">
                            </div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Email</div>
                                <div class="contact_info_text">matheus.ribamar@sempreceub.com</div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <br>
    <br>
    <br>

    <div class="container container_info ">
        <div class="row ">

            <div class="col-lg-10 offset-lg-1">

                <div
                    class="contact_info_item d-flex flex-row align-items-center justify-content-start sobrebackgroundcontent">
                    <div class="contact_info_image"><img
                            src="https://img.icons8.com/ultraviolet/24/000000/map-marker.png" alt=""></div>
                    <div class="contact_info_content">
                        <div class="contact_info_title">Address</div>
                        <div class="contact_info_text">707/907 - Campus Universitário - Asa Norte, Brasília - DF,
                            70790-075</div>
                    </div>
                </div>

            </div>

        </div>

    </div>






</div>