<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <img src="/imagens/chefbarba.png" height="300px" width="300px" alt="">
<h2>Infelizmente não temos essa receita, se quiser poderá adicionar posteriormente</h2>
</div>