
<div class="alert alert-success" role="alert">
    <h1><b>Receita Deletada Com Sucesso</b></h1>
 </div>



<img src="/imagens/where.gif" alt="">


<div> <button class="btnzinstyle1" > <a class="btnzinstylelink" href="/">voltar</a></button></div>