<br><br><br>
<div class="centered ">

    <div>

        <div>
            <h3>

                <b>O site nasceu como um projeto feito na Universidade Uniceub, com o objetido de mostrar e cadastrar
                    receitas e seus ingredientes. Para nós, o que
                    importa é te inspirar a botar a mão na massa na cozinha!</b>
            </h3>
        </div>

        <br>
        <br>

        <div class="d-flex justify-content-center">

            <img src="https://media3.giphy.com/media/o74jvyzy62kAE/giphy.gif?cid=790b7611bfb05660a62ff410179e3def199b644edd0dacfe&rid=giphy.gif&ct=g"
                width="600px" alt="">

        </div>


    </div>

</div>